$font-family-sans-serif: var(--font-roboto);
@import "bootstrap/scss/bootstrap";

h1,
h2,
h3 {
  font-family: var(--font-montserrat-subrayada);
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: red;
}
